
html {
  font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6, li, p {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: Georgia, serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container::after, .container::before {
  content: '';
  display: table;
} 

.container::after {
  clear: both;
}

/* Navbar */
header {
  background-color: #252525;
  padding: 20px;
}

.logo {
  display: block;
  float: left;
}

.nav {
  float: right;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  list-style-type: none;
  display: inline-block;
}

.nav a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
}

.nav a:hover {
  background-color: #fff;
  color: #252525;
}

@media (max-width: 739px) {
  header .container {
    text-align: center;
  }

  header .container .logo {
    margin: 0 auto;
    float: none;
  }

  .nav {
    float: none;
    clear: both;
  }

  .intro {
    padding: 60px 0;
  }
}

/* Intro */
.intro {
  background: url("../img/bg-intro.jpg") no-repeat center center;
  background-size: cover;
  padding: 150px 0px;
  text-align: center;
  color: #fff;
}

.intro h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
}

.intro h1::after {
  content: '';
  display: block;
  height: 4px;
  width: 20px;
  margin: 10px auto;
  background-color: #fff;
}

.intro p {
  font-size: 1.125rem;
  font-style: italic;
}

/* About */
#about {
  padding: 60px 0;
}

#about .about-item {
  max-width: 460px;
  float: left;
  margin: 0px 10px;
}

#about .about-item h3 {
  font-size: 2.25rem;
  background-color: #252525;
  color: #fff;
  width: 220px;
  font-style: italic;
  text-align: center;
  font-weight: normal;
  line-height: 1em;
  padding: 5px 0px 10px 0px;
  position: relative;
  top: -25px;
}

#about img {
  display: block;
  max-width: 100%;
}

#about h2, #about p {
  text-align: center;
}

#about h2 {
  font-size: 2.25rem;
  margin-bottom: 60px;
}

#about p {
  max-width: 460px;
  display: block;
  margin: 20px auto;
  font-style: italic;
  font-size: 1.125rem;
  line-height: 1.4rem;
}

@media (min-width: 740px) and (max-width: 980px) {
  #about .container {
    max-width: 720px;
  }

  .about-item {
    width: 340px;
  }
}

@media (max-width: 739px) {
  #about .container {
    max-width: 300px;
  }

  .about-item {
    margin: 0 auto;
    max-width: 300px;
  }
}

/* Products */
#products {
  background-color: #e7e4d8;
  padding: 60px 0px;
  border-top: 3px solid #d6d3d8;
  border-bottom: 3px solid #d6d3d8;
}

.products-item {
  width: 300px;
  float: left;
  margin: 0px 10px 20px 10px;
}

.products-item h2 {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 20px;
}

.products-item h2::before {
  content: '';
  margin: 20px auto;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #e7e4d8;
}

.products-paulista h2::before {
  background: #492901;
  box-shadow: 0 0 0 5px #492901;
}

.products-carioca h2::before {
  background: #c17139;
  box-shadow: 0 0 0 5px #c17139;
}
.products-mineiro h2::before {
  background: #d7a54d;
  box-shadow: 0 0 0 5px #d7a54d;
}

.products-item p {
  font-size: 0.875rem;
  line-height: 1.4rem;
}

.products-btn {
  text-align: center;
  border: 3px solid #252525;
  text-decoration: none;
  display: block;
  width: 180px;
  margin: 20px auto 0 auto;
  color: #252525;
  text-transform: uppercase;
  padding: 15px 0;
  font-weight: bold;
  font-size: 1.125rem;
}

.products-btn:hover {
  background-color: #252525;
  color: #e7e4d8;
}

@media (min-width: 740px) and (max-width: 980px) {
  #products .container {
    max-width: 720px;
  }

  .products-item {
    width: 220px;
  }
}

@media (max-width: 739px) {
  #products .container {
    max-width: 300px;
  }

  .products-item {
    margin: 0 auto 20px auto;
    max-width: 300px;
  }
}

/* Locals*/
.locais {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px 0;
}

.locais-item {
	clear: both;
	margin: 60px auto;
}

.locais-item::after, .locais-item::before {
	display: table;
	content: '';
	clear: both;
}

.locais-item img {
	width: 460px;
	display: block;
	float: left;
	margin: 0 10px;
}

.locais-item > div {
	width: 460px;
	float: left;
	margin: 0 10px;
}

.locais-item h2 {
	font-size: 2.25em;
	margin-bottom: 20px;
}

.locais-item p {
	font-size: 1.125em;
	line-height: 1.4em;
	max-width: 320px;
	margin-bottom: 40px;
}

.locais-item a {
	font-size: 1.125em;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid;
	color: #252525;
	padding: 10px 20px;
}

@media (min-width: 740px) and (max-width: 980px) {
	.locais {
		max-width: 720px;
	}
	.locais-item > div, .locais-item img {
		width: 340px;
	}
}

@media (max-width: 739px) {
	.locais {
		max-width: 300px;
	}
	.locais-item > div, .locais-item img {
		width: 300px;
		margin: 0px;
	}
}


/* Newsletter */
#newsletter {
  background-color: #e7e4d8;
  padding: 30px 0;
}

#newsletter .newsletter-text {
  max-width: 460px;
  float: left;
}

#newsletter .newsletter-text p {
  font-size: 1.5rem;
  font-style: italic;
}

#newsletter form {
  width: 460px;
  float: right;
  margin: 10px 10px 0 10px;
}

#newsletter form label {
  display: none;
} 

#newsletter form input {
  width: 320px;
  border: 3px solid #252525;
  font-size: 1.5rem;
  font-style: italic;
  background: none;
  font-family: Georgia, serif;
  padding: 10px;
  float: left;
}

#newsletter form button {
  font-size: 1.5rem;
  padding: 13px 0;
  border: none;
  color: #fff;
  background-color: #252525;
  font-family: Georgia, serif;
  width: 140px;
  text-transform: uppercase;
}

@media (min-width: 740px) and (max-width: 980px) {
  #newsletter .container {
    max-width: 720px;
  }

  #newsletter .newsletter-text, #newsletter form {
    width: 340px;
  }

  #newsletter input {
    width: 340px;
  }
}

@media (max-width: 739px) {
  #newsletter .container {
    max-width: 300px;
  }

  #newsletter .newsletter-text, #newsletter form {
    width: 100%;
    margin-top: 10px;
  }
}

/* Footer */
#footer {
  background-color: #d6d3d8;
  padding: 40px 0;
}

#footer p {
  float: left;
}

#footer img {
  float: right;
  margin: 0 10px;
  display: block;
}

@media (max-width: 739px) {
  #footer .container {
    max-width: 300px;
  }

  #footer p {
    float: none;
    margin: 0px;
  }

  #footer img  {
    float: none;
    margin: 20px 0px;
  }
}

/* Typograph */

h2 {
  font-size: 2.25rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.4rem;
}